.closed-button {
  background-color: #5342d1;
  border: 1px solid #5342d1;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  padding: 12px 24px;
  text-decoration: none;
}

.closed-button:hover {
  background-color: blue;
}

.closed-button:focus {
  background-color: pink;
}

.App {
  background: #141722;
  height: 100vh;
}

main {
  height: 100vh;
}

.reconnect-message {
  margin-top: 108px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #a5a8ae;
}

.error-message {
  color: #873333;
  display: flex;
  padding-top: 40px;
}

.error-message h3 {
  display: inline;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .reconnect-message {
    font-size: 20px;
  }
}
